@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "open sans";
  box-sizing: border-box;
  font-weight: 700;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(156, 131, 95, 1);
  padding: 12px 37px 0 37px;
  text-transform: uppercase;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 27px;
}
.container2 .option {
  width: 130px;
  height: 130px;
  margin-bottom: 1.2rem;
}
.gameTitle > p.lessThan {
  font-size: 1.4rem;
  color: #724c21;
  letter-spacing: 0.1rem;
  margin-right: 27px;
}
.gameTitle > p:nth-child(3) {
  font-size: 1.4rem;
  color: rgba(249, 178, 61, 1);
}
.container .gameTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
}
.column3 {
  margin-left: 2rem;
}
.column1 p,
.column3 p {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.hand {
  position: relative;
  max-width: 70px;
}
.hand:hover {
  cursor: pointer;
  animation-delay: 0.5ms;
  animation: zoom-in-zoom-out 1s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
#vs {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  color: rgba(189, 0, 0, 1);
  padding: 0 2.3rem;
}
#winner {
  position: absolute;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-radius: 10px;
  visibility: hidden;
  width: 200px;
  height: 130px;
  transform: rotate(-30.98deg);
  justify-content: center;
  align-items: center;
}
.column3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reset {
  position: relative;
  max-width: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.reset:hover {
  cursor: pointer;
}
.option {
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
